body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;       
    background-color: black ;      
}

.op {
    padding: 20px;
    border-radius: 10px;
}
h2{
color:white;
}